.custom-input:focus{border-color: #14A76C;   /* change border color */ box-shadow: 0 0 0 0.25rem #8dccb3; /* optional glow */}
.navbar-toggler{color:  #14A76C !important}
.skill-link{color: black;}
.skill-link.active {color:  #14A76C !important;}
.skill-link:focus, .skill-link:hover{color: #14A76C !important;}
.accordion-button:not(.collapsed){background-color: #F8F9FA !important; }
.accordion-button:focus{box-shadow: none}
.nav {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}